.container {
  display: flex;
  flex-direction: column;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 0;
  position: relative;
  justify-content: center;
  align-items: center;
}

.labels {
  font-size: 24px;
  font-weight: 500;
}
